/* PC */
@media (min-with: 1024px) {
}

/* Tablet */
@media (min-with: 740px) and (max-with: 1023px) {
}

/* Mobile */
@media (max-width: 740px) {
  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }

  #header .mobile-menu-btn {
    display: block;
  }
  #header .search-btn {
    display: none;
  }
}
